<h1 class="mt-4 text-3xl text-white">Selectores anidados</h1>
<hr>

<div class="flex flex-col w-full mt-14 gap-y-20">
    <form
        [formGroup]="myForm"
        class="max-w-sm mx-auto"
    >
        <!-- Region -->
        <label for="region" class="block mb-2 font-medium text-gray-900 dark:text-white">Continente</label>
        <select formControlName="region" id="region"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 p-2.5 dark:bg-indigo-950 dark:border-indigo-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-indigo-400">
            <option selected value="">-- Seleccione continente --</option>
            <option *ngFor="let region of regions" [value]="region"> {{ region }}</option>
        </select>

        <!-- Country -->
        <label for="country" class="block mt-5 mb-2 font-medium text-gray-900 dark:text-white">País</label>
        <select
            formControlName="country"
            id="country"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 p-2.5 dark:bg-indigo-950 dark:border-indigo-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-indigo-400">
            <option selected value="">-- Seleccione un país --</option>
            <option *ngFor="let country of countriesByRegion" [value]="country.cca3">
                {{ country.name }} - ( {{ country.cca3}} )
            </option>
        </select>

        <!-- Borders -->
        <label for="border" class="block mt-5 mb-2 font-medium text-gray-900 dark:text-white">Fronteras</label>
        <select formControlName="border" id="border"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 p-2.5 dark:bg-indigo-950 dark:border-indigo-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-indigo-400">
            <option selected value="">-- Seleccione un país limítrofe --</option>
            <option *ngFor="let country of bordersCountries" [value]="country.cca3">
                {{ country.name }} - ( {{ country.cca3 }} )
            </option>
        </select>
    </form>

    <div>
        <h3 class="mb-2 font-semibold text-white">Form data</h3>
        <div class="flex flex-col text-white gap-y-3">
            <code>
                {{ myForm.value | json }}
            </code>

            <p class="font-medium">Is form valid: <span class="uppercase"> {{ myForm.valid }} </span></p>
        </div>
    </div>
</div>